manifest {
    name            = 'idp-germline-panel-nf'
    author          = 'Brenno'
    homePage        = 'https://github.com/brennovmh/idp-germline-panel-nf'
    description     = 'Pipeline Nextflow para análise germinativa de painel em hg38 com QC, SNV/indel e CNV'
    nextflowVersion = '>=23.10.0'
}

nextflow.enable.dsl = 2

params {
    mode                 = 'single_sample'
    input_format         = 'fastq'
    genome               = 'hg38'

    panel_bed            = null
    intervals            = null
    fasta                = null
    bwa_index            = null
    known_sites          = null

    sample_sheet         = null
    normal_bamsheet      = null

    run_fastp            = true
    run_bqsr             = false
    run_clincnv          = true

    clincnv_hg38         = true
    clincnv_targets      = null
    clincnv_script_dir   = null
    clincnv_normal_cov   = null
    clincnv_extra_args   = ''
    clincnv_outdir       = 'results/clincnv'
    clincnv_min_mapq     = 3
    clincnv_score_g      = 50
    clincnv_length_g     = 2
    clincnv_reanalyse_cohort = 'T'

    outdir               = 'results'
    publish_dir_mode     = 'copy'
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
    time = '12h'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: small {
        cpus = 2
        memory = '4 GB'
        time = '6h'
    }

    withLabel: medium {
        cpus = 4
        memory = '8 GB'
        time = '12h'
    }

    withLabel: large {
        cpus = 8
        memory = '24 GB'
        time = '36h'
    }

    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    }

    withName: ALIGN_AND_SORT {
        container = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1'
    }

    withName: MARK_DUPLICATES {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: ENSURE_BAM_INDEX {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0'
    }

    withName: BASE_RECALIBRATOR {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: APPLY_BQSR {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: COLLECT_ALIGNMENT_QC {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: HAPLOTYPE_CALLER {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: GENOTYPE_GVCF {
        container = 'broadinstitute/gatk:4.6.1.0'
    }

    withName: VARIANT_QC {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
    }

    withName: CLINCNV_SAMPLE_COVERAGE {
        container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0'
    }

    withName: MULTIQC {
        container = 'ewels/multiqc:1.21'
    }
}

profiles {
    standard {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = false
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }

    singularity {
        docker.enabled = false
        singularity.enabled = true
        conda.enabled = false
        singularity.autoMounts = true
    }

    conda {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = true
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
}
